<div class="sidebar-content">
  <h4 class="participant-color">Participant {{ participant?.participantId }}</h4>
  <div class="demographics-info">
    <div class="participant-flex">
      <div class="participant-info">DOB:&nbsp;</div>
      <div>{{ participant.birthDate }}</div>
    </div>
    <div class="participant-flex">
      <div class="participant-info">Gender:&nbsp; </div>
      <div>{{ participant.gender | titlecase }}</div>
    </div>
    <div class="participant-flex">
      <div class="participant-info">Race:&nbsp; </div>
      <div>{{ participant.race }}</div>
    </div>
    <div class="participant-flex">
      <div class="participant-info">Ethnicity:&nbsp; </div>
      <div>{{ participant.ethnicity }}</div>
    </div>
  </div>

  <h4 class="participant-color">Participant Status
    <clr-tooltip>
      <clr-icon clrTooltipTrigger class="is-solid info-icon" shape="info-standard" size="18"></clr-icon>
      <clr-tooltip-content class ="test" clrPosition="bottom-left" clrSize="lg" *clrIfOpen>
            <span>
              Within the the Review Set, you can review
              individual participant records and choose to
              include, exclude, or mark them for further review.
            </span>
      </clr-tooltip-content>
    </clr-tooltip>
  </h4>
  <app-participant-status [participant]="participant">
  </app-participant-status>

  <app-annotation-list [participant]="participant">
  </app-annotation-list>
</div>

