<div>
  <div class="col-header">
    <h2 class="participant-header">{{ title | titlecase }}</h2>

    <a href="..." role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg tooltip-right">
      <clr-icon class="is-solid nfo-icon" shape="info-standard" size="22"></clr-icon>
      <span *ngIf= "role === 'excludes'; else inclide" class="tooltip-content">
        The EXCLUDE Participants WHERE clause is used to remove
        those participant records that fulfill a specified
        condition / procedure / demographic / drug / etc.
      </span>
      <ng-template #inclide>
         <span  class="tooltip-content">The INCLUDE Participants WHERE clause is
          used to extract only those participant records that fulfill a specified
          condition / procedure / demographic / drug / etc.
        </span>
      </ng-template>
    </a>
  </div>

  <!-- .size, not .length => this is an immutable.js list -->
  <div *ngFor="let group of (groups$ | async)">
    <app-search-group [group]="group" [role]="role">
    </app-search-group>
    <div class="circle-wrapper">
      <div class="and-circle">AND</div>
    </div>
  </div>
  <button
    *ngIf="(initShowChart$ | async)"
    type="button"
    class="btn btn-info-outline btn-sm">
    DELETE GROUP
  </button>
  <app-search-group-select [role]="role"></app-search-group-select>
</div>
